<section id="footer-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <h1 class="footer-title-one">VEOX</h1>
        <p class="footer-summary">Innovamos en aplicaciones Geoespaciales basadas en procesamiento de imágenes satelitales o teletripuladas aplicado a la agricultura, minería, pesca, urbanismo, gestión de desastres, industria y otros.</p>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <h1 class="footer-title">Enlaces de interés</h1>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
          </ul>
        Hola #3d4698
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <h1 class="footer-title">Contáctanos</h1>
      </div>
    </div>
  </div>
</section>
<section id="footer-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        &copy; 2019 <strong><a href=".">VEOX</a></strong> </div>
    </div>
  </div>
</section>