#why {
    padding: 60px 0;
    background: #004a99;
  }
  
  #why .section-header h3,
  #why .section-header p {
    color: #fff;
  }
  
  #why .card {
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
  }
  
  #why .card:hover {
    background: #003b7a;
    border-color: #003b7a;
  }
  
  #why .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
  }
  
  #why .card h5 {
    font-size: 22px;
    font-weight: 600;
  }
  
  #why .card p {
    font-size: 15px;
    color: #d8eafe;
  }
  
  #why .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
  }
  
  #why .card .readmore:hover {
    border-bottom: #fff solid 2px;
  }
  
  #why .counters {
    padding-top: 40px;
  }
  
  #why .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
  }
  
  #why .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
  }